{% extends 'base.html' %}

{% block title %}Firanda Profile - Home{% endblock %}

{% block content %}
<div class="box">
    <h3 class="section-title">Pengantar</h3>
    <p>
        Selamat datang di situs website sederhana saya. <br />
        Situs ini berisi biodata saya, Seorang <u>santri</u> yang belajar di
        <b>SMA IT HSI Purworejo.</b><br />
        Jika kalian ingin menjelajah saya lebih dekat kalian bisa menjelajahi
        website ini lebih dalam <br />
    </p>
</div>

<div class="box">
    <h3 class="section-title">Profile favorit</h3>
    <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWtxSOxwXLyeu8EU49MzU-zi-9E27EAAwhd9aNOZRlitFmkBwId6_QMyxEovrT5RbaUx8&usqp=CAU" />
    <p>
        Alasan kenapa aku memilih foto profile <b>Peter parker</b> ini karena
        saya ingin menjadi <i>beliau</i>. <br />
        Bukan karena <s>kekuatan</s> nya tapi karena ia tetap
        <u>sabar</u> menjalani kehidupan. Dan membalas keburukan dengan
        kebaikan
    </p>
</div>
{% endblock %}
